<footer class="footer bg-dark py-4">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="">
        <a href="/"><span class="text-muted">Animespot</span></a>
      </div>
      <div class="text-muted">
        <a class="text-muted" href="/terms">T&C</a>
        <a class="text-muted pl-4" href="/bug-report">Report/Feedback</a>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- <script type="text/javascript" src="/js/typeahead.bundle.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script>
  $.get('/api/anime-list',async function (data) {
    let anime =await data.anime.map(u => {
      return u.name
    })
    $('#search')
    .typeahead({
      hint: true,
      name: 'anime',
      source: anime,
    });
  });
</script>