<meta charset="utf-8">
<title></title>
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<script data-ad-client="ca-pub-8436629832013819" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
