<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="keywords" content="">

<title>Creative Comma</title>

<!-- Styles -->
<link href="temp/css/page.css" rel="stylesheet">
<link href="temp/css/style.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="images/logo/favicon.png">
<link rel="icon" href="images/logo/favicon.png">
