<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>TheSaaS — Page not found</title>

    <!-- Styles -->
    <link href="temp/css/page.min.css" rel="stylesheet">
    <link href="temp/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="images/logo/favicon.png">
    <link rel="icon" href="images/logo/favicon.png">
  </head>

  <body class="layout-centered bg-gray">
    <!-- Main Content -->
    <main class="main-content text-center pb-lg-8">
      <div class="container">

        <h1 class="display-1 text-muted mb-7">Page Not Found</h1>
        <button class="btn btn-secondary w-150 m-5" type="button" onclick="window.history.back();">Go back</button>
        <a class="btn btn-secondary w-150 m-5" href="/">Home</a>

      </div>
    </main><!-- /.main-content -->


    <!-- Scripts -->
    <script src="temp/js/page.min.js"></script>
    <script src="temp/js/script.js"></script>

  </body>
</html>
