<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div align="center">
      <div class="container">
        <div class="row">
          <div class="" style="margin:auto;padding-top:50px;">
            <form  action="/admin/admin" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="password" id="password" autofocus>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
