<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./components/header%>
  </head>
  <body>
    <header>
      <% include ./components/navbar%>
    </header>

    <main>
      <div class="container">
        <%if(animeList){%>
          <%animeList.forEach(function(anime,i){%>
            <a href="/anime/<%-anime.name.trim().replace(/ /g,'-')%>"><%-anime.name%></a><br>
          <%})%>
        <%}%>
      </div>
    </main>
    <% include ./components/footer%>

  </body>
</html>
