<div class="adflexbox" id="b7922ca4c82e7d8a869dc43193dd8ebbf"></div>
<script>
    (function(d, w) {
        if (!w.adflex) {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//portal.adstargets.com/loader.js";
            d.getElementsByTagName('head')[0].appendChild(s);
            w.adflex = {host: '//portal.adstargets.com'};
        }
    })(document, window);
</script>